<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>

    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 10px;
            background-color: beige;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Act like you did something.</h1>
        <h4>But we know, it was nothing</h4>

        <p data-th-text="${name}">It'll be replaced.</p>
    </div>
</body>
</html>